# App
NODE_ENV=development

# Backend
API_PORT=3001
API_URL=http://localhost:3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nust_db

# JWT
JWT_ACCESS_SECRET=change_this_access_secret_in_production
JWT_REFRESH_SECRET=change_this_refresh_secret_in_production
JWT_ACCESS_EXPIRATION_TIME=15m
JWT_REFRESH_EXPIRATION_TIME=7d

# Frontend
WEB_URL=http://localhost:3000
