# App
NODE_ENV=development

# Backend
API_PORT=3001
API_URL=http://localhost:3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nust_db

# Frontend
WEB_URL=http://localhost:3000
